/* dev only! */
.devGrid{
    display: grid;
    grid-template-columns: repeat(10,125px);
}
/* general */
.gamesContainer{
    overflow: hidden;
    height: 850px;
}
.gameFrame{
    border: none;
    position: relative;
    bottom: 2em;
}
.gameLink>img{
    width: 100px;
    height: 100px;
}
.gameGrid{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    width: 70vw;
    margin: auto;
}
.gameMessage{
    width: 500px;
    margin: 2em auto;
    border: 2px dashed darkcyan;
    padding: 1em;
}

.sentenceContainer{
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;
}
.sentence{
    display: flex;
    width: 65vw;
    flex-wrap: wrap;
    margin: 1em auto;
    border: 1px dotted;
    padding: 1em;
    font-size: 3em;
}
.dark>p.hide{
    color: transparent;
    text-shadow: 0 0 25px rgb(229 219 219);
}
.light>p.hide{
    color: transparent;
    text-shadow: 0 0 25px rgb(0 0 0);
}
.sentence>p, .sentence>div{
    margin:10px;
}
.sentence>div>input{
    position: relative;
    bottom: 0.75em;
    font-size: .5em;
    font-family: inherit;
    width:95px;
    text-align: center;
    border: none;
    border-bottom: 1px solid;
    height: 55px;
    width: fit-content;
}
.sentence>div>input.dark {
    color: gold;
}
.sentence>div>input.light {
    color: #3180e1;
}

.fauxDrop{
    font-size: .5em;
    border-radius: 5px;
    position: absolute;
    height: 0em;
    overflow-y: scroll;
    width: 265px;
    opacity: .7;
    transition: height 1s;
    z-index: 1;
}
.fauxDrop.selected{
    height: 15em;
}
.fauxDrop> p:hover{
   background-color: rgba(179, 154, 14, 0.493);
}
.processedString{
    font-size: 2em;
    width: 75vw;
    margin: auto;
}
.processedString>div{
    display: flex;
    width: fit-content;
    margin: auto;
}
button.roundWhim{
    border-radius: 50%;
    background: inherit;
    font-family: inherit;
    height: 70px;
    cursor: pointer;
    border: none;
    margin: 0 5em;
}
.roundWhim.dark{
    box-shadow: 0px 10px 30px antiquewhite;
}
.roundWhim.light{
    box-shadow: 0px 10px 30px black;
}

/*notes*/
.more{
    position: relative;
    z-index: 99;
    cursor: pointer;
}
.moreInfo{
    height: 300px;
    overflow: auto;
    width: 500px;
    margin: auto;
    border: 1px solid #00000030;
    background-color: antiquewhite;
    box-shadow: 2px 2px 10px #00000052;
    position: relative;
    z-index: 2;
  }
  .moreInfo>div{
    box-shadow: 5px -4px 5px #00000075;
  }
  .moreInfo >button{
    border-bottom: 2px solid antiquewhite;
    background: antiquewhite;
    margin: 0 1.5px;
  }
  .moreInfo>div, .moreInfo>button{
    position: relative;
  }
  .moreInfo>div>.info{
    margin: 0;
    padding: 4em;
  }
  .infoList{
    margin: 0;
    padding: 2em;
  }
  

/* uno */

.display{
    z-index: 999 !important;
}
.deck> .container{
    position: absolute;
    left: 40%;
    transition: all 1s ease;
    top: 23em
}
.card>img{
    width: 100px;
    height: 150px;
}
.discard{
    position: absolute;
    border-radius: 5px;
    left: 50%;
    border: 1px solid black;
    top:23.25em
}
.playerCards{
    display: flex;
    width: 400px;
    margin: auto;
}
.playerCards> .container{
    position: relative;
    width: 100px;
    height: 150px;
    transition: all 1s ease;

}
.playerBox >div{
    width: fit-content;
    margin: auto;
}
.container.flipped{
    left: 50%;
}
.unoCard{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1s ease;
}
.unoCard.flipped{
    transform: rotateY(180deg);
}
.back, .front{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
/* .front{
    color: black;
    text-align: center;
    background-color: black;
} */


.unoSettings{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    border: 1px solid;
    border-radius: 10px;
    background-color: bisque;
}
.playerBox{
    height: 60vh;
    width: 80vw;
    margin: auto;
}
.playerOne{
    position: relative;
}
.playerTwo{
    position: relative;
    top: 35%;
}
.playerThree{
    position: relative;
    bottom: 43%;
    right: 27%;
    transform: rotate(90deg);
}
.playerFour{
    position: relative;
    bottom: 83%;
    left: 27%;
    transform: rotate(270deg);;
}
/* mobile game stuff */
@media screen and (max-width: 992px) {
    .playerBox >div{
        font-size: 50%;
    }
    .gameMessage{
        width: inherit;
    }
    .gameGrid{
        display: block;
        width: 100%;
    }
    .gameLink{
        border-top: 1px solid;
        padding: 2em;
        border-bottom: 1px solid;
    }
    .gameLink>img{
        width: 100%;
        height: inherit;
    }
    .gameFrame{
        bottom: 0;
    }
    .moreInfo{
        right: .5em;
        width: 395px;
    }
    .moreInfo>button{
        padding: 0;
    }
    /* font-size: 2em;
    height: inherit;
    padding: 5px;
    margin: 1px; */
}