.star{
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    height: 50px;
    width: 50px;
    background-color:coral;
}
.buddy{
    position: absolute;
    left: 60%;
    top: 75%;
    z-index: 9999;
    cursor: pointer;
    }
.surprise{
    width: 100px;
    height: 25px;
    display: flex;
    position: absolute;
    left: -2.3rem;
    bottom: 0.5rem;
}
.surprise>div{
    display: none;
    height: 10px;
    width: 1px;
    position: relative;
    margin: auto;
}
.surprise>#a{
    transform: rotate(-45deg);
    bottom: 0.5rem;
    left: 0.75rem;
}
.surprise>#b{
    bottom:1rem;
}
.surprise>#c{
    transform: rotate(45deg);
    bottom: 0.5rem;
    right: 0.75rem;
}
#directToBuddy{
    opacity: 0;
}